/* General Styles */
:root {
  --background: #e9ab17;
  --elevated-dark-bg: #2c2c2c;
  --white: #ffffff;
  --black: #000000;
  --primary: #e9ab17;
  --secondary: #175539;
  --accent: #2e664c;
  --text-color: #000000;
  --w-100: 100%;
  --maxW: 1320px;
  --half: 47.5%;
  transition: 0.5s ease;
  font-size: 16px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  width: 10px;
}
body::-webkit-scrollbar-track {
  background-color: var(--primary);
}
body::-webkit-scrollbar-thumb {
  background-color: var(--text-color);
  border: 2px solid var(--primary);
  border-radius: 8px;
  height: 10px;
}

.d-none {
  display: none;
}
.d-block {
  display: block;
}

section {
  width: 80%;
  max-width: var(--maxW);
  margin: 0 auto 64px;
  padding: 64px 0 0;
  background-attachment: fixed;
  background-size: contain;
  background-repeat: no-repeat;
}
section:nth-child(odd) {
  background-image: url("/assets/blob_1.svg");
}
section:nth-child(even) {
  background-image: url("/assets/blob_2.svg");
}

.main--heading,
.subheading {
  font-family: "Open Sans", sans-serif;
  margin: 24px 0;
}
.main--heading {
  font-size: 72px;
  font-weight: 300;
}
.subheading {
  color: var(--text-color);
  font-size: 40px;
  font-weight: 400;
}
.subheading:hover .star {
  animation-play-state: paused;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

button {
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
}

p {
  padding: 10px 0;
  line-height: 1.5;
}

.btn {
  padding: 16px 32px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  transition: 0.4s ease;
}
.btn--fill {
  color: var(--white);
  background-color: var(--secondary);
  border: 2px solid var(--secondary);
}
.btn--outline {
  color: var(--black);
  background-color: none;
  border: 2px solid var(--black);
}
.btn:hover {
  border-color: var(--elevated-dark-bg);
  background-color: var(--elevated-dark-bg);
  color: var(--white);
}

.section--label {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1px;
  text-align: center;
  text-transform: uppercase;
  color: var(--accent);
}

.star {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: 3s infinite normal rotateItem;
}

.star img {
  width: 24px;
  height: 24px;
}

.fix--padding {
  padding-top: 100px;
}

.w-100 {
  width: 100%;
}

.scroll-to-top {
  position: fixed;
  bottom: 100px;
  right: 40px;
  z-index: 99;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  background-color: var(--black);
  display: grid;
  place-items: center;
  cursor: pointer;
}
.scroll-to-top:hover {
  background-color: #2c2c2c;
}
.scroll-to-top ion-icon {
  font-size: 24px;
  color: #ffffff;
}

@media screen and (max-width: 1024px) {
  section {
    width: 90%;
  }
  .main--heading {
    font-size: 40px;
  }
}
@media screen and (max-width: 820px) {
  .subheading {
    font-size: 32px;
  }
}

/* ==== Main Styles ==== */
body {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1;
  background-color: var(--background);
  color: var(--text-color);
  transition: 0.5s ease;
  transition-property: background-color, color;
  position: relative;
  overscroll-behavior-y: none;
}

/* ==== desktop header ==== */
header {
  width: 100%;
  padding: 24px 0;
}
.header--inner {
  width: 80%;
  max-width: var(--maxW);
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#desktop-logo {
  width: 200px;
}

nav {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 60px;
}
nav ul {
  display: flex;
  align-items: center;
  gap: 30px;
}
nav ul li {
  list-style-type: none;
  position: relative;
}
nav ul li::after {
  position: absolute;
  top: 24px;
  left: 0;
  width: 0;
  height: 2px;
  content: "";
  background-color: var(--secondary);
  transition: 0.4s ease;
}
nav ul li.w-100::after {
  width: 100%;
}

.theme--toggle--btn ion-icon {
  font-size: 24px;
}

@media screen and (max-width: 1024px) {
  .header--inner {
    width: 90%;
  }
}

/* ==== hero section ==== */
#hero {
  padding: 56px 0;
}
.hero--inner {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hero--inner > div {
  width: var(--half);
}
.hero--btns {
  display: flex;
  justify-content: flex-start;
  gap: 16px;
}

.hero--images {
  display: grid;
  height: 450px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 8px;
}

.hero--images .grid-1 {
  grid-column: 2;
  grid-row: 1;
}

.hero--images .grid-2 {
  grid-column: 1;
  grid-row: 1/3;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero--images .grid-3 {
  grid-column: 2;
  grid-row: 2;
}
.hero--images > div {
  overflow: hidden;
}
.hero--images > div img {
  width: 100%;
}

@media screen and (max-width: 1024px) {
}

/* ==== about section ==== */
#about {
  border-top: 1px solid var(--accent);
}
#about .subheading {
  text-align: center;
}
.about--inner {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.about--inner > div {
  width: var(--half);
}
.about--images {
  display: grid;
  height: 400px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 16px;
}
.about--images .grid-1 {
  grid-column: 1;
  grid-row: 1/3;
}
.about--images .grid-2 {
  grid-column: 2;
  grid-row: 1;
}
.about--images .grid-3 {
  grid-column: 1;
  grid-row: 3;
}
.about--images .grid-4 {
  grid-column: 2;
  grid-row: 2/4;
}
.about--images img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.about--images > div {
  overflow: hidden;
}

/* ==== gallery section ==== */
#gallery .subheading {
  position: relative;
}
#gallery .subheading::before {
  width: 50px;
  height: 3px;
  background-color: var(--secondary);
  position: absolute;
  top: -10px;
  left: 5px;
  content: "";
}
.gallery--inner {
  display: grid;
  width: 100%;
  overflow: hidden;
  height: 500px;
  grid-template-columns: repeat(7, minmax(250px, 400px));
  grid-template-rows: repeat(2, 1fr);
  gap: 8px;
}
.gallery--inner > div {
  overflow: hidden;
}
.gallery--inner > div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* ==== testimonials section ==== */
#testimonial {
  position: relative;
  padding-bottom: 32px;
  border-top: 1px solid var(--accent);
}
#testimonial .subheading {
  text-align: center;
}
.testimonial__slider {
  width: 50%;
  margin: 0 auto;
  overflow: hidden;
  display: flex;
}
.testimonial__slide {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 auto;
}
.testimonial__slide--text {
  font-style: italic;
}

#testimonial button {
  height: 100%;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
#testimonial button ion-icon {
  font-size: 32px;
}
.slide__prev--btn {
  left: 32px;
}
.slide__next--btn {
  right: 32px;
}

footer {
  background: var(--black);
  color: #fff;
  padding: 32px 0;
  font-size: 14px;
}
.footer--inner {
  width: 80%;
  max-width: 1320px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.col-4 {
  width: 32.5%;
}
.footer--heading {
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  margin-bottom: 24px;
}
footer a {
  color: #ffffff;
  display: block;
  padding: 10px 0;
}
footer a:hover {
  color: var(--primary);
}
.footer__social--links {
  width: 80%;
  max-width: 1320px;
  margin: 16px auto;
  display: flex;
  justify-content: flex-start;
  gap: 24px;
}
.footer__social--links a ion-icon {
  font-size: 24px;
}
.copyright {
  text-align: center;
}
.copyright a {
  display: inline;
}

@media screen and (max-width: 1024px) {
  .footer--inner,
  .footer__social--links {
    width: 90%;
  }
}

@media screen and (max-width: 820px) {
  section {
    background-size: 50% 20%;
  }
  section:nth-child(odd) {
    background-position: 150% 80%;
  }
  section:nth-child(even) {
    background-position: -50% 80%;
  }
  section,
  #hero,
  .header--inner,
  .footer--inner,
  .footer__social--links {
    width: 100%;
    padding-inline: 24px;
  }
}
/* ==== Rotating Effect ==== */
@keyframes rotateItem {
  0% {
    transform: rotate(0) scale(1);
  }
  50% {
    transform: rotate(180deg) scale(1.2);
  }
  75% {
    transform: rotate(360deg) scale(0.9);
  }
  100% {
    transform: rotate(360deg) scale(1);
  }
}

@keyframes scrollingSkills {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-270%);
  }
}

@keyframes scrollingSkillsMobile {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-920%);
  }
}
